extends general/layout

include general/showMessage.jade

block head
  link(rel='stylesheet', href='/static/bootstrap/css/callout.css')
  title Answer - La palabra del día

block content
  h1 Answer
  +showMessage()
  
  if !correct
    div(class="bs-callout bs-callout-danger")
      h4 Wrong
      p 
        strong #{word.word}
        |  does not mean  
        strong #{sugestion}
        |  it means 
        strong #{word.translation}
        | . Better luck next time.
  if correct
    div(class="bs-callout bs-callout-info")
      h4 Correct
      p 
        strong #{word.word}
        |  means 
        strong #{word.translation}
        | . You are learning quickly.
  if training
    div(class="row")
      div(class="col-xs-1 col-sm-2 col-md-3")
      div(class="col-xs-10 col-sm-8 col-md-6")
        a( href="/#{user._id}/training" class="btn btn-primary btn-lg btn-block")
          | Next  
          span( class="glyphicon glyphicon glyphicon-chevron-right")
      div(class="col-xs-1 col-sm-2 col-md-3")
block footer